[project]
name = "komm"
version = "0.8.0"
description = "An open-source library for Python 3 providing tools for analysis and simulation of analog and digital communication systems."
readme = "README.md"
authors = [{ name = "Roberto W. Nobrega", email = "rwnobrega@gmail.com" }]
license = { text = "GPL-3.0-only" }
dependencies = ["numpy", "scipy"]
requires-python = ">=3.8"
urls = { home = "https://komm.dev/", repository = "https://github.com/rwnobrega/komm/" }

[project.optional-dependencies]
dev = ["black", "isort", "pytest", "mkdocs", "mkdocs-material", "mkdocstrings"]

[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
addopts = "--doctest-modules"
python_files = "test_*.py"
python_functions = "test_*"
pythonpath = "."
testpaths = ["komm", "tests"]
