[project]
name = "komm"
version = "0.9.1"
description = "An open-source library for Python 3 providing tools for analysis and simulation of analog and digital communication systems."
readme = "README.md"
authors = [{ name = "Roberto W. Nobrega", email = "rwnobrega@gmail.com" }]
license = { text = "GPL-3.0-only" }
dependencies = [
    "attrs>=24.2.0",
    "numpy>=2.1.1",
    "scipy>=1.14.1",
]
requires-python = ">=3.10"
urls = { home = "https://komm.dev/", repository = "https://github.com/rwnobrega/komm/" }

[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
addopts = "--doctest-modules"
python_files = ["test_*.py", "bench_*.py"]
python_functions = ["test_*", "bench_*"]
pythonpath = "."
testpaths = ["src/komm", "tests"]

[tool.pdm.dev-dependencies]
lint = [
    "black>=24.10.0",
    "isort>=5.13.2",
]
test = [
    "pytest>=7.4.4",
    "pytest-benchmark>=4.0.0",
    "pytest-cov>=4.1.0",
]
doc = [
    "griffe==1.5.1",
    "mkdocs==1.6.1",
    "mkdocs-material==9.5.43",
    "mkdocstrings==0.26.2",
    "mkdocstrings-python==1.12.2",
    "mkdocs-gen-files==0.5.0",
    "mkdocs-include-markdown-plugin==6.0.4",
    "mkdocs-literate-nav==0.6.1",
]
debug = [
    "ipykernel>=6.28.0",
    "matplotlib>=3.8.2",
]
